// styles for content
body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
}

body.fixed-top-nav {
  padding-top: 56px; // add padding for top of nav bar
}

body.sticky-bottom-footer {
  padding-bottom: 0; // remove padding below footer
}

.container {
  max-width: $max-content-width;
}

// profile
.profile {
  img {
    width: 100%;
  }
}

// embedded videos
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container > iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

// images
.post-content img {
  margin: auto;
  max-width: 700px;
  width: 90%;
  height: auto;
}

.post-content figcaption {
  text-align: center;
  color: #7B7B77;
}
