// variables used throughout the theme

// light mode
$light-mode-highlight:#B509AC !default;
$light-mode-hover:    lighten($light-mode-highlight, 25%);
$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     darken($grey-color, 25%);

// dark mode
$dark-mode-bg:        #1B2430 !default;
$dark-mode-highlight: #FFDEAD !default;
$dark-mode-hover:     lighten($dark-mode-highlight, 25%) !default;
$grey-color-light-alt: lighten($grey-color, 25%);
$grey-color-dark-alt: darken($grey-color, 10%);

$white-color: #ffffff !default;
$black-color: #000000 !default;
