---
layout: default
title: blog
---

<div class="post">
  <div><h2>{{ site.blog_name }}</h2></div>

  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.external_source == blank %}
      {% assign read_time = post.content | number_of_words | divided_by: 180 | plus: 1 %}
    {% else %}
      {% assign read_time = post.feed_content | strip_html | number_of_words | divided_by: 180 | plus: 1 %}
    {% endif %}
    {% assign year = post.date | date: "%Y" %}

    <li>
      <h5><b>
        <a class="post-title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
      </b></h5>
      <p>{{ post.description }}</p>
      <p class="post-meta">
        {{ read_time }} min read &nbsp; &middot; &nbsp;
        {{ post.date | date: '%B %-d, %Y' }}
        {%- if post.external_source %}
        &nbsp; &middot; &nbsp; {{ post.external_source }}
        {%- endif %}
      </p>
    </li>
    {% endfor %}
  </ul>
</div>